$primary-font: Helvetica,Arial,sans-serif; 

$text-color-header: rgb(36, 36, 36);
$text-color-product: rgb(56 56 61);
$text-color-footer: rgb(51 51 51);
$text-color-cart: rgb(36, 36, 36);
$text-grey: rgb(120, 120, 120);
$text-white: #fff;
$text-yellow: rgb(255, 208, 0);
$text-black: rgb(36, 36, 36);

$bg-header: rgb(1, 127, 255);
$bg-content: #efefef;
$bg-white: #fff;
$bg-red: rgb(255, 66, 78);


$bg-btn: rgb(13, 92, 182);
$bg-btn-hover: rgb(9, 68, 136);


