@charset "UTF-8";
html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #38383d;
  margin: 0 auto;
}

body {
  margin: 0;
  position: relative;
  background-color: #efefef;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-margin {
  margin-left: -15px;
  margin-right: -15px;
}

.flex-row {
  display: flex;
  flex-wrap: nowrap;
}

.l-2-5 {
  flex: 0 0 20%;
  min-width: 20%;
}

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* navbar-tiki */
.header {
  background: #017fff;
  border-radius: 0;
}
.header .nav-1 {
  height: 76px;
  padding: 18px 0 18px;
  position: relative;
}
.header .nav-1 .logo {
  cursor: pointer;
  padding-right: 30px;
}
.header .nav-1 .logo img {
  width: 60px;
}

/* danh mục */
.addProduct {
  width: 150px;
  height: 40px;
  margin-right: 20px;
  cursor: pointer;
  align-items: center;
  text-align: center;
}
.addProduct a {
  height: 40px;
  line-height: 27px;
  background-color: #fdd835;
  font-size: 15px;
  border-radius: 2px;
}
.addProduct a span {
  padding-right: 8px;
}
.addProduct a:hover {
  background-color: #f5ca0c;
}

/* search */
.search-container {
  display: flex;
  align-items: center;
}
.search-container .form-search .input-search {
  outline: none;
  width: 610px;
  height: 40px;
  float: left;
  border: none;
  border-radius: 2px 0 0 2px;
  padding: 0 12px 0;
}
.search-container .form-search .button-search {
  display: flex;
  justify-content: center;
  width: 120px;
  height: 40px;
  float: left;
  border: none;
  border-radius: 0 2px 2px 0;
  line-height: 40px;
  background: #0d5cb6;
  color: #fff;
  cursor: pointer;
  outline: none;
}
.search-container .form-search .button-search .icon-search {
  width: 20px;
  margin: 11px 6px 0 0;
}
.search-container .form-search .button-search:hover {
  background-color: #094488;
}

/* user */
.user {
  margin-left: 25px;
  align-items: center;
  position: relative;
}
.user-icon {
  cursor: pointer;
}
.user-icon img {
  width: 32px;
  margin-right: 16px;
}
.user-icon .number-order {
  position: absolute;
  top: -2px;
  left: 18px;
  color: #242424;
  font-size: 17px;
  font-weight: 500;
  padding: 0 8px;
  background-color: #fdd835;
  border-radius: 50%;
}
.user-icon .messages {
  position: absolute;
  top: 47px;
  right: 75px;
  width: 272px;
  height: 50px;
  padding: 16px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: #b3b3b3 1px 1px 15px;
  z-index: 10;
}
.user-icon .messages .triangle {
  width: 0;
  height: 0;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  border-bottom: 9px solid white;
  position: absolute;
  top: -9px;
  left: 83%;
}
.user-icon .messages .icon-close-message {
  position: absolute;
  top: 4px;
  right: 10px;
}
.user-icon .messages .message-status {
  font-size: 13px;
  color: #242424;
  margin: 0;
}
.user-icon .messages .message-status .icon-message {
  margin-right: 10px;
}
.user-title {
  cursor: default;
}
.user-title p {
  font-size: 11px;
  color: #fff;
  margin: 0;
  line-height: 16px;
}
.user-title .user-name {
  width: 80px;
}
.user-title .user-name h1 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 13px;
  color: #fff;
  margin: 0;
  line-height: 20px;
}

/* cart */
.cart-icon {
  margin-left: 5px;
  cursor: pointer;
  position: relative;
}
.cart-icon .cart-wrapper {
  height: 40px;
  padding: 0;
}
.cart-icon .cart-wrapper .cart-img {
  margin-right: 8px;
  position: relative;
}
.cart-icon .cart-wrapper .cart-img img {
  width: 32px;
  padding-top: 10px;
}
.cart-icon .cart-wrapper .cart-img span {
  position: absolute;
  left: 20px;
  top: 2px;
  color: #242424;
  font-size: 17px;
  font-weight: 500;
  padding: 0 8px;
  background-color: #fdd835;
  border-radius: 50%;
}
.cart-icon .cart-wrapper .cart-text p {
  font-size: 11px;
  color: #fff;
  margin: 0;
  padding-top: 30px;
}
.cart-icon .messages {
  position: absolute;
  top: 57px;
  right: -20px;
  width: 272px;
  height: 50px;
  padding: 16px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: #b3b3b3 1px 1px 15px;
  z-index: 10;
}
.cart-icon .messages .triangle {
  width: 0;
  height: 0;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  border-bottom: 9px solid white;
  position: absolute;
  top: -9px;
  left: 83%;
}
.cart-icon .messages .icon-close-message {
  position: absolute;
  top: 4px;
  right: 10px;
}
.cart-icon .messages .message-status {
  font-size: 13px;
  color: #242424;
  margin: 0;
}
.cart-icon .messages .message-status .icon-message {
  margin-right: 10px;
}

/* logo freeship */
.nav-2 .logo-sub {
  cursor: pointer;
}
.nav-2 .logo-sub img {
  width: 83px;
}

/* tag tìm kiếm */
.tag-search {
  margin-left: 147px;
  height: 32px;
}
.tag-search a {
  text-decoration: none;
  font-size: 11px;
  color: #fff;
  margin-right: 12px;
}

/* tiki seller */
.tiki-seller {
  float: right;
  padding: 0 15px 0;
  margin-left: 498px;
}
.tiki-seller a {
  text-decoration: none;
  font-size: 11px;
  color: #fff;
}

/* gợi ý hôm nay */
.goiyhomnay {
  padding: 4px 0 16px;
  background-color: #efefef;
}
.goiyhomnay .goiyhomnay-header {
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: #efefef;
}
.goiyhomnay .goiyhomnay-header .title {
  padding: 10px 16px;
  background-color: #fff;
  margin-top: 7px;
  margin-bottom: 4px;
  border-radius: 4px;
}
.goiyhomnay .goiyhomnay-header .option {
  overflow-x: auto;
}
.goiyhomnay .goiyhomnay-header .option .list {
  display: flex;
  padding-left: 0;
  margin-bottom: 4px;
}
.goiyhomnay .goiyhomnay-header .option .list .item {
  flex-shrink: 0;
  list-style-type: none;
  width: 203px;
  padding: 4px 8px;
  background-color: #fff;
  border-radius: 4px;
  margin-right: 4px;
  cursor: pointer;
}
.goiyhomnay .goiyhomnay-header .option .list .item img {
  width: 48px;
  height: 48px;
  margin: 0 auto;
}
.goiyhomnay .goiyhomnay-header .option .list .item .link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none !important;
}
.goiyhomnay .goiyhomnay-header .option .list .item .link span {
  padding-top: 4px;
  font-size: 13px;
  color: #787878;
}
.goiyhomnay .goiyhomnay-header .option .list .active {
  border: 1px solid #0d5cb6;
}
.goiyhomnay .goiyhomnay-header .option .list .active .link span {
  color: #0d5cb6;
}

/* sản phẩm */
.products {
  margin-top: 6px;
  display: flex;
  flex-wrap: wrap;
}
.products .l-2-5 {
  padding: 12px 16px;
  background-color: #fff;
  cursor: pointer;
}
.products .l-2-5 a {
  text-decoration: none;
}
.products .l-2-5:hover {
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.products .l-2-5 .product-image {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: relative;
}
.products .l-2-5 .product-name {
  height: 38px;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #38383d;
  margin: 10px 0 4px 0;
  color: #242424;
  overflow: hidden;
  text-overflow: ellipsis;
}
.products .l-2-5 .rating {
  display: flex;
}
.products .l-2-5 .rating .rating-start {
  width: 70px;
  height: 14px;
  display: inline-block;
}
.products .l-2-5 .rating .rating-start i {
  float: left;
  width: 14px;
  font-size: 14px;
  color: #ffd000;
  text-align: center;
}
.products .l-2-5 .rating p {
  font-size: 11px;
  color: #787878;
  margin: 0;
  padding-left: 10px;
}
.products .l-2-5 .price {
  display: flex;
  margin-top: 4px;
}
.products .l-2-5 .price h1 {
  font-size: 15px;
  color: #242424;
  font-weight: 500;
  margin: 0 8px 0 0;
}
.products .l-2-5 .price h2 {
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  margin: 0;
  padding: 0.8px;
  border-radius: 2px;
  background: #ff424e;
}
.products .l-2-5 .button {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}
.products .l-2-5 .button .btn-buy-product {
  line-height: 100%;
  border-radius: 2px;
  background-color: #0d5cb6;
}
.products .l-2-5 .button .btn-buy-product:hover {
  background-color: #094488;
}
.products .l-2-5 .button .button-action-product .btn-delete-product {
  border-radius: 2px;
  width: 30px;
  height: 30px;
  padding: 0px;
  font-size: 11px;
}
.products .l-2-5 .button .button-action-product .btn-edit-product {
  border-radius: 2px;
  width: 30px;
  height: 30px;
  padding: 0px;
  font-size: 11px;
  line-height: 30px;
}
.products .warning-not-found {
  width: 100%;
  font-size: 15px;
  background-color: #fff;
  padding: 16px 24px;
  margin-top: 4px;
}
.products .warning-not-found .warning-content {
  background-color: #fff;
  border: 1px solid #fdd835;
  color: #dfbd15;
  padding: 16px 24px;
}
.products .warning-not-found .warning-content::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f4ad";
  width: 16px;
  height: 17px;
  margin-right: 12px;
}

/* footer */
.footer {
  padding: 40px 0;
  background-color: #fff;
}

/* hổ trợ khách hàng */
.hotrokhachhang {
  width: 268px;
  display: flex;
  flex-direction: column;
  margin-right: 17px;
}
.hotrokhachhang h4 {
  margin: 0 0 17px;
  font-size: 13px;
  font-weight: 500;
  color: #333333;
}
.hotrokhachhang .hotline {
  font-size: 14px;
  font-weight: 500;
  color: #ff424e;
  margin: 0 0 10px;
}
.hotrokhachhang .hotline span {
  font-size: 12px;
  color: #333333;
}
.hotrokhachhang .hotline a {
  font-size: 12px;
  color: #333333;
  text-decoration: none;
}
.hotrokhachhang a {
  text-decoration: none;
  color: #333333;
  font-size: 12px;
  margin-bottom: 11px;
}
.hotrokhachhang a:hover {
  text-decoration: underline;
}

/* về tiki */
.block {
  width: 226px;
  display: flex;
  flex-direction: column;
  margin-right: 17px;
}
.block h4 {
  margin: 0 0 17px;
  font-size: 13px;
  font-weight: 500;
  color: #333333;
}
.block a {
  text-decoration: none;
  color: #333333;
  font-size: 12px;
  margin-bottom: 11px;
}
.block a:hover {
  text-decoration: underline;
}
.block p {
  margin: 0;
}
.block .thanhtoan {
  display: flex;
  flex-wrap: wrap;
}
.block .thanhtoan img {
  width: 54px;
  margin: 0 10px 7px 0;
}

.block.ketnoi {
  margin-right: 0;
}
.block.ketnoi .mangxahoi img {
  margin: 0 10px 7px 0;
  cursor: pointer;
}
.block.ketnoi .taive img {
  width: 134px;
  margin-bottom: 7px;
  cursor: pointer;
}

.cart-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.cart-wrapper .cart-inner {
  width: 910px;
  padding-left: 15px;
}
.cart-wrapper .cart-inner .cart-header {
  font-size: 13px;
  font-weight: 400;
  color: #242424;
  display: flex;
  background: #fff;
  padding: 9px 16px;
  border-radius: 4px;
  margin-bottom: 12px;
  text-align: center;
}
.cart-wrapper .cart-inner .cart-content {
  margin: 10px 0px 16px;
  padding: 0px 16px 16px;
  background: #fff;
}
.cart-wrapper .cart-inner .cart-content .cart-products {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 16px 0 0 0;
}
.cart-wrapper .cart-inner .cart-content .cart-quantity {
  display: inline-flex;
  justify-content: space-between;
  line-height: 26px;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  margin: auto 0;
  width: 81px;
  height: 26px;
}
.cart-wrapper .cart-inner .cart-content .cart-quantity span img {
  display: block;
}
.cart-wrapper .cart-inner .cart-content .cart-quantity .btn-decrease-quantity {
  border-right: 1px solid #c8c8c8;
  cursor: pointer;
}
.cart-wrapper .cart-inner .cart-content .cart-quantity .btn-increase-quantity {
  border-left: 1px solid #c8c8c8;
  cursor: pointer;
}
.cart-wrapper .cart-inner .cart-content .no-product {
  display: block;
  text-align: center;
  padding-top: 30px;
}
.cart-wrapper .cart-inner .cart-content .no-product img {
  width: 190px;
  height: 160px;
}
.cart-wrapper .cart-inner .cart-content .no-product p {
  margin: 15px 0px 30px;
  color: #000000;
  font-size: 14px;
}
.cart-wrapper .cart-total {
  width: 315px;
  padding-right: 15px;
}
.cart-wrapper .cart-total .prices {
  background: #fff;
  border-radius: 4px;
  margin: 0px;
  padding: 17px 20px;
}
.cart-wrapper .cart-total .prices .prices-items {
  margin: 0;
  padding: 0;
}
.cart-wrapper .cart-total .prices .prices-items .prices-item {
  margin-bottom: 10px;
}
.cart-wrapper .cart-total .prices li {
  font-size: 14px;
  font-weight: 400;
  color: #242424;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.cart-wrapper .cart-total .btn-cart-buy {
  background: #ff424e;
  color: #fff;
  padding: 13px 10px;
  text-align: center;
  border-radius: 4px;
  border: none;
  width: 100%;
  display: block;
  margin: 15px 0px;
  cursor: pointer;
  outline: none;
}
.cart-wrapper .cart-total .btn-cart-buy:hover {
  background: #fc2e3c;
}
.cart-wrapper div h4 {
  font-size: 20px;
  font-weight: 500;
  color: #242424;
  line-height: 28px;
  margin: 0px 0px 15px;
  text-transform: uppercase;
  text-align: left;
}
.cart-wrapper .cart-col-1 {
  width: 40%;
}
.cart-wrapper .cart-col-1 .cart-product {
  display: flex;
  align-items: center;
}
.cart-wrapper .cart-col-1 .cart-product .cart-product-image {
  width: 80px;
  height: 80px;
}
.cart-wrapper .cart-col-1 .cart-product .cart-product-name {
  width: 260px;
  height: 40px;
  text-align: left;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: inherit;
}
.cart-wrapper .cart-col-1 .cart-product .cart-product-name span {
  width: 260px;
  height: 40px;
  font-size: 13px;
  line-height: 20px;
  color: #242424;
}
.cart-wrapper .cart-col-2 {
  width: 20%;
}
.cart-wrapper .cart-col-3 {
  width: 10%;
}
.cart-wrapper .cart-col-4 {
  width: 20%;
}
.cart-wrapper .cart-col-5 {
  width: 10%;
}
.cart-wrapper .cart-col-5 .icon-delete {
  padding: 8px;
  border: 1px solid #c8c8c8;
  background-color: #fff;
  border-radius: 2px;
}

/* trang thêm sản phẩm */
.add {
  padding: 16px 0;
}
.add-wrapper {
  background-color: #fff;
  padding: 20px 0;
}
.add-wrapper h3 {
  text-align: center;
}
.add-wrapper .form-add {
  margin: 0 auto;
  width: 500px;
}
.add-wrapper .save-product {
  background-color: #0d5cb6;
}
.add-wrapper .save-product:hover {
  background-color: #094488;
}
.add-wrapper .go-home {
  border-color: #0d5cb6;
  color: #0d5cb6;
}
.add-wrapper .go-home:hover {
  border-color: #094488;
  color: #094488;
  background-color: #fff;
}

.order h3 {
  text-align: center;
  margin-bottom: 15px;
}
.order-wrapper {
  background-color: #fff;
  padding: 20px;
  margin: 16px 0;
}
.order-wrapper .table th, .order-wrapper .table td {
  text-align: center;
}
.order-wrapper .no-order {
  display: block;
  text-align: center;
  padding-top: 30px;
}
.order-wrapper .no-order img {
  width: 190px;
  height: 160px;
}
.order-wrapper .no-order p {
  margin: 15px 0px 30px;
  color: #000000;
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */
